<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script
      src="https://kit.fontawesome.com/b109f342ec.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <section class="main-section">
      <div class="card">
        <div class="location"><%= data.name %>, <%= data.sys.country %></div>
        <div class="description"><%=data.weather[0].description %></div>
        <div class="flex">
          <div class="temp"><%= data.main.temp %>°C</div>
          <img
            class="icon"
            src="http://openweathermap.org/img/wn/<%= data.weather[0].icon%>@2x.png"
            alt=""
          />
        </div>
        <div class="properties">
          <div class="humidity">
            <%= data.main.humidity %>% Humidity
            <img src="/assets/humidity.png" alt="" />
          </div>
          <div class="wind">
            <%= data.wind.speed %> Km/h Winds
            <img src="/assets/wind.png" alt="" />
          </div>
        </div>
      </div>
      <div id="issMap"></div>
    </section>
    <script>
      let data = JSON.parse('<%- JSON.stringify(data) %>');
    </script>
    <script src="scripts/city.js"></script>
  </body>
</html>
